@import url('https://fonts.googleapis.com/css?family=Montserrat|Electrolize|Press+Start+2P&display=swap:100,200,300,400,500,600,700');

html {
    height: 100%;  
}

body{
    position: relative;
    font-family: "Electrolize", sans-serif;
    font-size: 1rem;
    color: 	#303030;
}

/*------------------------------img*/

.hero-img img{
    width: 100%;
}

/*---------------------------navbar*/

.navbar-brand span:hover{
    color: #4CBCAD;
}


.nav-item a:hover{
    text-decoration: none;
    color: #4CBCAD;
}

/*-------------------------jumbotron*/

.jumbotron{
    background-size: cover;
    background-color: white;
    height:auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
}

.header-section{
    margin-bottom: 0;
    padding-bottom: 0;
    border:1px solid #4CBCAD;
}

.header-services{
    text-align: center;
    margin-top: 2.2rem;
}

.header-services a{
    font-size: 3rem;
    color: #4CBCAD;
}

/*-------------------------job list*/

.table-section{
    margin: 0;
    padding: 0;
}

.button-view-job{
    text-align: right;
    float: right;
}

.job-item{
    text-align: right;
    display: inline-block;
}

.view-job-offer{
   
    margin-right: 2rem;;
    margin-left: 2rem;
}

.description{
    text-align: justify;
}

/*--------------------------------confirmation model*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 45rem; /* Full width */
  height: 25rem; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #4CBCAD;
  
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  
}


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}
