@import url('https://fonts.googleapis.com/css?family=Montserrat|Electrolize|Zeyada|Press+Start+2P&display=swap:100,200,300,400,500,600,700');

/*div{
    border: solid black 2px;
}*/

html {
    height: 100%;  
}

body{
    position: relative;
    font-family: "Electrolize", sans-serif;
    font-size: 1rem;
    color: 	#303030;
    /*overflow-x: hidden;
    display: flex;
    flex-direction: column;*/
}

/*-----------------------img*/

.hero-img img{
    width: 100%;
}

.navbar-nav li:hover {
    text-decoration: none;
    padding: 0;
}

/*-------------------------jumbotron*/

.jumbotron{
    background-size: center;
    background-position: auto;
    background-color: white;
    /*background-image:url("../images/header-bg.png");*/
    height:auto;
    background-repeat: no-repeat;
    /*border:1px solid #ff6a00*/
    margin-bottom: 0;
    
}

.header-services{
    text-align: center;
}

.header-services a{
    font-size: 3rem;
    color: #4CBCAD;
}

.button-view-job{
    text-align: right;
    float: right;
}
/*-------------------------job list*/

.job-item{
    text-align: right;
    display: inline-block;
}

.view-job-offer{
    margin: 0;
    padding: 0;
}
.description{
    text-align: justify;
}
/*----------------model confirmation*/

.customHr {
    width: 95%
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;

    background-color: grey;
    margin-top: -6px;
    margin-bottom: 10px;
}