{% extends 'base.html' %} {% block content %}

<div class="jumbotron">
	<div class="row">
		<div class="col-sm-6">
			<h4 class="service-heading">Apply for a job</h4>
			<h4 class="service-heading">Post a job</h4>
		</div>
		<div class="col-sm-6 hero-img">
			<img src="{{ url_for('static', filename='images/header-bg.png') }}" alt="hero-image">
			</div>
		</div>
	</div>
	<div class="section">
		<table class="table border-top my-3">
			{% for job in jobs %}
			<tbody>
				<tr>
					<td>{{job.job_title}}</td>
					<td>{{job.company_id}}</td>
					<td><a class="btn btn-outline-secondary" href="{{url_for('get_jobs', job_id=job._id)}}">View
							details</a></td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
	</div>
	{% endblock %}