{% extends 'base.html' %}
{% block content %}

<h1>View details </h1>
<section class="container view-job-offer">
	<div class="row">
		<div class="col-sm-10">
			{{jobs.job_title}}
		</div>
	</div>
	<hr>
	<div class="row">
		{{jobs.company_id}}
	</div>
	<hr>
	<div class="row">
		{{jobs.job_description}}
	</div>
	<hr>
	<div class="row">
		<ul>
			{% for requirement in jobs.requirements %}
			<li>{{ requirement }}</li>
			{% endfor %}
		</ul>
	</div>
	<hr>
	<div class="row">
		{{jobs.company_description}}
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-3">
			<a class="btn btn-outline-secondary" href="{{jobs.url}}" target="_blank">Apply</a>
		</div>
		<div class="col-sm-3">
			<a class="btn btn-outline-secondary" href="{{ url_for('edit_job', job_id=jobs._id)}}">Update</a>
		</div>
		<div class="col-sm-3">
			<a class="btn btn-outline-secondary" href="{{ url_for('delete_job', job_id=jobs._id)}}">Delete</a>
		</div>
	</div>
</section>
{% endblock %}