{% extends 'base.html' %} {% block content %}

<section class="container-fluid view-job-offer">
    <h1>Job details</h1>
    <div class="row">
        <h5>{{jobs.job_title}}</h5>
    </div>
    <hr>
    <div class="row">
        <h5>{{ jobs.company_id}}</h5>
    </div>
    <hr>
    <div class="row description">
        {{jobs.job_description}}
    </div>
    <hr>
    <div class="row">
        <ul>
            {% for requirement in jobs.requirements %}
            <li>{{ requirement }}</li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <div class="row description">
        {{jobs.company_description}}
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <a class="btn btn-outline-secondary" href="{{jobs.url}}" target="_blank">Apply</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-outline-secondary" href="{{ url_for('edit_job', job_id=jobs._id)}}">Update</a>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-outline-secondary" onclick="document.getElementById('id01').style.display='block'">Delete</button>
        </div>
    </div>
    <!-- model confirmation-->
    <div id="id01" class="modal">
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>Delete Account</h1>
                <p>Are you sure you want to delete job post?</p>

                <div class="clearfix">
                    <a class="btn btn-outline-secondary" href="{{ url_for('get_jobs', job_id=jobs._id)}}">CANCEL</a>

                    <a class="btn btn-outline-secondary" href="{{ url_for('delete_job', job_id=jobs._id)}}">Delete</a>

                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}